body {
  width: 100vw;
  height: 100vh;
  background: #8c413a;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.quizArea {
  height: 100vh;
  width: 92vw;
  background: url('assets/mars-bkgd.png');
  background-size: cover;
}

.acceptedPage {
  height: 100Vh;
  width: 100%;
  background: rgba(0, 204, 102, 0.5);
}

.rejectedPage {
  height: 100Vh;
  width: 100%;
  background: rgba(255, 51, 51, 0.5);

}
